@{
    ViewBag.Title = "About Diversnight";
}
    <div class="row">
        <div class="col-md-8 col-md-push-2">

            <h2>What is Diversnight you wonder?</h2>
            <p>Diversnight is an international night dive, and is all about diving and the social aspect of diving. Groups of divers register their site on diversnight.com and arrange a night dive that includes cake. Cake is one of the key ingredients in Diversnight, as this is what Diversnight once was founded on. For more information on that, please see @Html.ActionLink("History", "History", "Home")..</p>
            <h2>When is Diversnight?</h2>
            <p>Diversnight takes place the first Thursday of November every year. Now, it used to be the first Thursday of December but in 2010 the Nordic countries experienced a really rough winter and no open water could be found to dive in so the diversnight.com organizers decided to move it one month earlier.<br><br>The actual dive takes place at the time that matches the year, every year. For 2012, the dive took place at 20:12 (8:12PM) local time. For 2013, it took place at 20:13 (8:13PM) local time, and for 2014 the dive will take place at 20:14 (8:14PM). Get the idea?</p>
            <h2>How can I, or my dive club / group, partake?</h2>
            <p>In order to partake in this fantastic, international event, either contact your local dive club and ask them to arrange an event or gather your diving friends and register your site! Check the registered sites on diversnight.com to see if your local dive club has already registered a dive site. Only one person (the organizer of the local event) per dive site needs to register. Each dive club, or group, will have to keep their own roster of participants.<br><br>If you are not connected to any local dive site, check the registered sites and make contact with one close to you if you want to join their event.</p>
            <h2>As an organizer, when can I upload my numbers?</h2>
            <p>Once you have registered your account and your dive site, the "register your numbers" link will be available to you after 20:14 (8:14PM) local time. Please make sure you register your numbers as soon as possible after the dive/event.</p>
            
            <h3>Some numbers:</h3>
            <p>
                <strong>2005:</strong> 351 divers in Norway.<br />
                <strong>2006:</strong> 889 divers in Denmark, Norway and Sweden.<br />
                <strong>2007:</strong> 1859 divers in Denmark, Estonia, Finland, Iceland, Norway, Sweden and Svalbard.<br />
                <strong>2008:</strong> 2183 divers in Denmark, Estonia, Finland, Iceland, Norway, Sweden, Egypt, Indonesia, France, Spain, Faroe Islands and Belgium.<br />
                <strong>2009:</strong> 2749 divers, 218 dive sites and 20 countries<br />
                <strong>2010:</strong> 1700 divers, 175 dive sites and 22 countries<br />
                <strong>2011:</strong> 2577 divers, 196 dive sites and 24 countries<br />
                <strong>2012:</strong> 2322 divers, 231 dive sites and 25 countries<br />
                <strong>2013:</strong> 2113 divers, 167 dive sites and 20 countries<br />
                <strong>2014:</strong> ???
            </p>

        </div>
    </div>
