@{
    ViewBag.Title = "History";
}

<div class="row">
    <div class="col-md-8 col-md-push-2">

        <h2>The history of Diversnight</h2>

        <p>The history of Diversnight is probably something most people know about now, however we feel that we need to include the history on this site for newcomers to enjoy. The following was written by Tone Svee Dahl, the founder of Diversnight:</p>
        <div class="white-quote">
            <p>Probably the history of Diversnight is something only the Norwegian divers know, since they have been involved from day one. This is why I want to share some basic information about this great event with you.</p>
            <p>When I got my diving certificate, I had nobody to go diving with although I really wanted to use my diving certificate, and I knew that if I were going to be a diver, I would need a buddy. I also knew that I had to go diving regularly in order to maintain my diving skills.</p>
            <p>I was so lucky to meet divers who were so kind to me and took good care of a lost girl like me, who had very little experience in water.</p>
            <p>I started diving every weekend, and I was hooked on this great sport!</p>
            <p>When I had been doing this for some weeks, I started to realize that the time we spent under water was only a little part of the diving day. We spent a lot of time above water before, after and between the dives.</p>
            <p>For me it was not enough to have one dive a day, I needed more!!</p>
            <p>A friend of mine gave me a tip, an online website diving community, www.dykkesiden.com, which is the largest diving community in Norway.</p>
            <p>There I found a discussion board where I could find a diving buddy. I could also post where I was diving, and that if more people would join, they were more than welcome to join.</p>
            <p>After a while, I got to know a lot of great Norwegian divers. I noticed that not all the divers spent as much time at the dive site as I did, many were driving home shortly after finishing the dive/dives.</p>
            <p>I wanted more social activity, and then I came up with the thought of cakes!</p>
            <p>Everybody loves cakes!!</p>
            <p>That was when I started to invite divers to participate in “Cakedives”, using www.dykkesiden.com.</p>
            <p>The divers joined the cakedives, and we had a fantastic time at the dive site together. All this happened in the area around Oslofjorden, which was unfortunate for divers in other parts of the country, since “everybody” wanted to participate these cake-dives.</p>
            <p>One November night in 2005, I went to the place called Scuba Bar in Oslo with many of my good diving friends - we had a Friday diving beer.</p>
            <p>There I received a big present from two friends of mine. One part of the present was a pink light-stick.</p>
            <p>That was when I got the idea of arranging a nationwide night dive in Norway, where everybody could go diving at the same time, and everybody would bake some cakes! In this way, also the divers far from the Oslofjord could participate in a cakedive!</p>
            <p>Because of www.dykkesiden.com, and all the fantastic divers here in Norway, it was possible to make the first regional night dive within only 3 weeks.</p>
            <p>351 Norwegian divers went under the surface at the same time in 40 different locations, all parts of Norway being represented.</p>
            <p>All divers went diving, ate delicious cakes and had a great time together.</p>
            <p>Also, a brand new dive club was founded that night!</p>
            <p>The Norwegian divers wanted this to become a tradition. Therefore, we decided to do this every year, the first Thursday in December, and that the time everybody was supposed to be under water was the same as the year in question.</p>
            <p>This big event would not be possible without the fantastic spirit and passion for our sport!</p>
            <p>I am so proud and humble when I see what we can do, if we come together and everyone makes an effort!</p>
            <p>I am really looking forward to working further with this idea created on a November night in 2005.</p>
            <p>Love Tone</p>
        </div>

    </div>
</div>