@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Welcome to Diversnight 2014";
}

<div class="jumbotron">
    <h1>Diversnight 2014</h1>
</div>

<div class="row">
    <div class="col-md-3"><div class="well"><span style="font-weight: bold; font-size: 80px;">
        @ViewBag.Divers2011
    </span><br />divers in 2011</div></div>
    <div class="col-md-3"><div class="well"><span style="font-weight: bold; font-size: 80px;">
    @ViewBag.Divers2012
    </span><br />divers in 2012</div></div>
    <div class="col-md-3"><div class="well"><span style="font-weight: bold; font-size: 80px;">
    @ViewBag.Divers2013                                            
    </span><br />divers in 2013</div></div>
    <div class="col-md-3"><div class="well"><span style="font-weight: bold; font-size: 30px; ">2014? Register your dive site now!</span></div></div>
</div>